.img-fluid {
    width: 1600px;
    height: auto;
}

.text-container {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -10%);
    text-align: center;
    z-index: 10;
}

.coluna {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    justify-content: center;
    gap: 20px;
}

.imagem {
    height: 400px;
    border-radius: 15px;
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna-central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 1000px;
}

.center {
    display: flex;
    justify-content: center;
}

/* Estilo personalizado para os botões */
.social-btn {
    background-color: rgb(134, 65, 32);
    color: black;
    border: none;
    transition: background-color 0.3s;
}

.social-btn:hover {
    background-color: rgb(107, 49, 22);
}

/* Estilo para centralizar o texto e a imagem dentro do botão */
.social-btn img {
    vertical-align: middle;
    display: inline-block;
}

.social-btn span {
    vertical-align: middle;
    display: inline-block;
    color: black;
}

.imagem-footer {
    width: 30px;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar-nav .nav-link:hover::after {
    color: black;
}

.row-footer {
    color: rgb(0, 0, 0); /* Cor do texto no rodapé */
    column-count: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container-footer-coluna {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
}

.container-footer {
    background-image: url('./public/Imagem_rodape.svg'); /* Substitua 'sua_imagem.jpg' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    padding-top: 100px;
}

.col-esquerda {
    padding: 0px;
    height: 200px;
    width: 350px;
    padding-bottom: 50px;
}


.col-direita {
    padding: 0px;
    height: 400px;
    width: 400px;
}